
	/*	z-index:5; 
																			left:30%; 
																		right:50%;*/
	/*COLOR DE LA PAG*/body {
	         
									background:#AAA;

	                               }



 /*EL FONDO DE FONDO*/#marco{
										   
	position: absolute; 
	z-index:4; 
	left:5%; 
	right:5%; 
	width: 910px;
	height: 120px;
	margin: 0 auto; 
    background: #000033 ;
                                                                                
										   
					

	


}






               /*fONDO PARA LA IMAGEN Y EL TEXXTO*/    #sombra
			                                                                                       {
																	margin-top: 10px;
																	margin-left: -10px;
	
																				z-index:1; 
                                                                                   	left:%; 
	                                                                              right:20%; 				
																			     width:890px;
	                                                                            height:110Px;
                                         	                                    margin: 0.5% auto;
	                                                                            background: #700000;
                                                                                   
	
	                                                                                  }
																					        

                                      











/*LE QUITA EL RAYADO DEL ENLACE*/a
											{
											
											text-decoration:none;
											
											}


													  /* POSICION DE LA IMAGEN*/#central
																		                                     {
																								
																								Position:absolute;
																								top:55%;
																								left: 13%;
																								margin-top: -60PX;
																								margin-left: -110px;

                                                                                                       }
                                                                                                   
																								 /*EDITAR LA LETRA*/  font
																								         {
																								            position:relative;
																											top:50%;
																											left: -5%;

																											margin-top: 15px;
																											font-family: verdana arial helvetica "sans serif";
																											font-size: 35;
	
 	
                                                                                                       	}

                                                                                                                 /*EDITAR EL TITULO */h1
																												        {
																													text-shadow: 1em 0.33em #000033;
																													position:absolute;
																													top:100%;
																													left: 35%;

																													margin-top: -100px;
																													margin-left: -120px;
																													color:#EEE;
																														}
																				/*color del fondo 3*/#fondo3{
																			 				
                                                                 margin-top: 110px;
																	margin-left: 10%;																																																													  width:900px;
																	height:600Px;
																																																									
																		margin: 89.8 auto;
																	background:#ff9;

																																																	
																																																	
																																																	
																																																	}
	
	

#header {
    position: absolute; 
	z-index:4%; 
	left:-80%; 
	right:-100%; 
	height:8%;
	   margin:1% auto; 
     float:left;
    width:98%;
    background:#B80000 ;
	font-size:60%;
    line-height:normal;
    }
	
	#a{
	z-index:10; 
	left:1%; 
	right:30%; 				
	width:900px;
	height:65Px;
	margin: 1 auto;
	background: #003399;
    }

		
		
		
/*menu de accion*/

#navi {  


	list-style:none;


	margin:10;


	padding:0;


}


#navi li {


	margin:2px;


	padding:2px;


	border:1px solid #CCCCCC;


	float:left;


}
#navi li a {
	display:block;


	width:150px;


	padding:4px 5;


	text-decoration:none;


	text-align:center;


	font-size:10px;


	color:#FFFFFF;


	background-color:#300;


	border-left:5px solid #900; 


}


#navi li a: hover {


	color:#99CC00;


	background-color:#0A0A2A;


	border-left-color:#0A0A2A; 

}